.NextButton {
  background-color: var(--blue-light);
  border: var(--blue-light) 1px solid;
  color: black;
  display: flex;
  align-items: center;
  padding: 1.6rem 3.2rem 1.6rem 1.6rem;
  border-radius: 100px 0 0 100px;
}

.PreviousButton {
  background-color: transparent;
  border: var(--blue-light) 1px solid;
  color: var(--blue-light);
  display: flex;
  align-items: center;
  padding: 1.6rem 3.2rem 1.6rem 1.6rem;
  border-radius: 0 100px 100px 0;
  border-left: none;
}

.ReadMoreButton {
  color: var(--blue-light);
  background-color: #131313;
  width: 20rem;
  height: 7rem;
  border-radius: 100px;
  border: transparent;
  font-family: 'DarkerGrotesque-SemiBold';
  font-size: 2.1rem;
}

.NextButton:hover {
  background-color: transparent;
  border: white 1px solid;
  color: white;
}

.PreviousButton:hover {
  border: white 1px solid;
  color: white;
}

.ReadMoreButton:hover {
  border: white 1px solid;
}

.icon {
  padding-right: 0.8rem;
}

.arrowLeft {
  padding-right: 14px;
}
