.containerCirkel {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.containerChild {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.cirkel1 {
  position: absolute;
  top: 7%;
  left: 33%;
}
.cirkel2 {
  position: absolute;
  top: 72%;
  left: 80%;
}
.cirkel3 {
  position: absolute;
  top: 29%;
  left: 65%;
}
.cirkel4 {
  position: absolute;
  top: 38%;
  left: 14%;
}
.cirkel5 {
  position: absolute;
  top: 8%;
  left: 48%;
}
.cirkel6 {
  position: absolute;
  top: 85%;
  left: 65%;
}
.cirkel7 {
  position: absolute;
  top: 48%;
  left: 82%;
}
.cirkel8 {
  position: absolute;
  top: 17%;
  left: 72%;
}
