.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.glass {
  width: 77rem;
  padding: 5rem;
  margin: 5rem;
  background: rgba(29, 29, 30, 0.5);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 2px 1px #c6c6c6,
    inset 0px 40px 40px rgba(255, 255, 255, 0.24), inset 0px -40px 40px rgba(29, 29, 30, 0.1),
    inset 0px 6px 12px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.projectTitel {
  color: var(--green);
  font-weight: 400;
  font-size: 3.6rem;
}
.nameTitel {
  text-align: center;
  margin-left: -30rem;
}

.glassButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5rem;
}

.image {
  max-height: 20rem;
  max-width: auto;
  width: 20rem;
}

.glassLeft {
  width: 40rem;
}
