.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.glass {
  width: 77rem;
  padding: 5rem;
  margin: 5rem;
  background: rgba(29, 29, 30, 0.5);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 2px 1px #c6c6c6,
    inset 0px 40px 40px rgba(255, 255, 255, 0.24), inset 0px -40px 40px rgba(29, 29, 30, 0.1),
    inset 0px 6px 12px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.projectTitel {
  color: var(--green);
  font-weight: 400;
  font-size: 3.6rem;
}
.nameTitel {
  text-align: center;
  margin-left: -30rem;

  background: linear-gradient(270deg, #18c0ed -48.03%, #8ee539 188.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.glassButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5rem;
}

.image {
  max-height: 20rem;
  max-width: auto;
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  .container {
    align-content: normal;
    justify-content: normal;
  }

  .glass {
    width: 29.6rem;
    font-size: 1.6rem;
    padding: 3rem;
    line-height: 2.2rem;
  }

  .glassButton {
    margin-left: 8rem;
  }

  .projectTitel {
    font-size: 1.8rem;
  }

  .image {
    display: none;
  }

  .glassLeft {
    width: 40rem;
  }
}
