.titel {
  color: #8ee539;
  font-weight: 400;
  font-size: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.textContainer {
  max-width: 75ch;
  margin: 4rem 0;
}

.imageContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 1.6rem;
  margin: 0 20rem;
}

.image {
  margin: 1.6rem;
  max-width: 45rem;
}

.bannerImage {
  max-height: 40rem;
  max-width: 60vw;
}

.heroContainer {
  width: 75ch;
}

.projectTitel {
  background: linear-gradient(270deg, #18c0ed -48.03%, #8ee539 188.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
